/* AppointmentDetails.css */
.appointment-details {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .appointment-details h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #003a80;
  }
  
  .appointment-details table {
    width: 100%;
    border-collapse: collapse;
  }
  .appointment-details th{
    font-size: 14px;
    color: #003a80;
    text-align: center;
  }
  .appointment-details th,
  .appointment-details td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
    text-align: left;
  }
  
  .appointment-details th {
    background-color: #f2f2f2;
  }
  