/* calendar.css */
.container-calendar h2{
    color: #003a80;
}
.calendar {
    width: 80%;
    border: 2px solid #003a80;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    /* border-collapse: collapse; */
}

.calendar th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
}


.calendar td {
    text-align: center;
    padding: 13px;
    cursor: pointer;
}

.calendar .selected {
    background-color: #003a80;
    color: #fff;
    border-radius: 50%;
}

.calendar th:first-child,
.calendar td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.calendar th:last-child,
.calendar td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
