.line-graph-container h2{
    color: #003a80;
    text-align: center;
    margin: 10px;
}
.line-graph-container p{
    color: #003a80;
    text-align: center;
    margin: 10px;
}
.line-graph {
    max-width: 600px;
    margin: 20px auto;
}
