.user-details-list {
    margin-top: 20px;
    
}

.user-details-list h2 {
    color: #003a80;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    border: 2px solid #003a80; 
    border-radius: 5px;
    padding: 10px; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

.user-details-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.detail-section {
    border-bottom: 1px solid #003a80; /* Added horizontal lines */
    padding: 10px;
}

.user-details-item p {
    margin: 0px;
}

.user-details-item span {
    font-weight: bold;
    margin-right: 5px;
}
